<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<script defer data-domain="blog.fdo.cr" data-api="https://fdo.cr/dolan/wat/event" src="https://fdo.cr/dolan/wat/script.js"></script>

<style>
  .masthead {
    padding-left: 5px;
    padding-right: 5px;
  }
</style>

<!-- Social Media Meta Tags -->
<meta property="og:title" content="blog.fdo.cr">
<meta property="og:description" content="I'm Fernando and this is my captain's log, my little corner of the internet.">
<meta property="og:image" content="/assets/og_banner.png">
<meta property="og:url" content="https://blog.fdo.cr">
<meta property="og:type" content="website">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="blog.fdo.cr">
<meta name="twitter:description" content="I'm Fernando and this is my captain's log, my little corner of the internet.">
<meta name="twitter:image" content="/assets/og_banner.png">