$green: #4d7227;
$red: #ff207d;
$coffee: #BA9979;

a {
  color: $coffee !important;
}

img {
  margin: 30px auto 30px auto;
}

.mt-5 {
  margin-top: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.text-left {
  text-align: left !important;
}

.container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.splash-display {
  font-size: 20px;
  color: #626262;
  // font-family: 'Ubuntu', Arial;
}

.splash-post-list {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

.social-links-horizontal {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
}

.svg-icon-large {
  width: 64px;
  height: 64px;
  fill: #828282;
  padding-right: 5px;
}

@media (min-width: 550px) {
  .splash-display {
    // font-size: 2em;
  }
}
